
form {
    width: 25%;
}

label {
    padding: 10px;
}

/* #mySelect {
    padding: 10px;
} */

select {
    width: 100px;
}

#countries {
    width: 420px;
}

#states {
    display: none;
}

#current-weather {
    visibility: hidden;
}