* {
    border: 1px red solid;
}

label {
    padding: 10px;
}

select {
    width: 100px;
}

#city {
    background-color: aliceblue;
}

#countries {
    width: 420px;
}

#states {
    display: none;
}

.hidden {
    display: none ;
}

li {
    font-weight: bold;
}

span {
    font-weight: normal
}

.flexbox {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
  }