
.header {
    text-align: center;
}

label {
    padding: 10px;
}

select {
    width: 100px;
}

#city {
    background-color: aliceblue;
}

#countries {
    width: 100%;
}

#states {
    display: none;
}

.hidden {
    display: none ;
}

li {
    font-weight: bold;
}

span {
    font-weight: normal
}


  .search-history {
    visibility: hidden;
  }